@import '../../core/theme';
@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}

.ui-circular-progress {
    position: relative;
    margin: 0 auto;
    width: 56px;
}

.ui-circular-progress:before {
    content: '';
    display: block;
    padding-top: 100%;
}

.ui-circular-progress {
    &__box {
        animation: rotate 2s linear infinite;
        height: 100%;
        transform-origin: center center;
        width: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
    &__path {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
        animation: dash 1.5s ease-in-out infinite;
        stroke: rgb(150, 150, 150);
        stroke-linecap: round;
        stroke-width: 4px;
        stroke-miterlimit: 10px;
        fill: none;
    }
}

.ui-circular-progress {
    &--small {
        width: 24px;
    }
    &--tiny {
        width: 18px;
    }
    &--primary {
        stroke: $primary-500-color;
    }
    &--accent {
        stroke: $accent-500-color;
    }
    &--error {
        stroke: $error-500-color;
    }
}