@import '../../core/theme';
.ui-linear-progress {
    position: relative;
    width: 100%;
    display: block;
    pointer-events: none;
    height: 5px;
    overflow: hidden;
    background-color: $primary-100-color;
}

.ui-linear-progress {
    &__tick {
        display: block;
        height: 100%;
        position: absolute;
        transition: width .3s;
        background-color: $primary-500-color;
    }
}

.ui-linear-progress--animate {
    .ui-linear-progress__tick--one {
        animation: ui-linear-progress--one 2s linear infinite;
    }
    .ui-linear-progress__tick--two {
        animation: ui-linear-progress--two 2s linear infinite;
    }
}

@keyframes ui-linear-progress--one {
    0% {
        left: -40%;
        width: 30%;
    }
    30% {
        left: 35%;
        width: 70%;
    }
    60% {
        left: 100%;
        width: 20%;
    }
}

@keyframes ui-linear-progress--two {
    50% {
        left: -40%;
        width: 30%;
    }
    75% {
        left: 25%;
        width: 50%;
    }
    100% {
        left: 100%;
        width: 20%;
    }
}