@import '../../core/zindex';
@import '../../core/theme';
.ui-date-picker-dialog {
    &__card {
        width: 100%;
        max-width: 350px;
    }
    &__header {
        display: flex;
        padding: 20px 8px 0 8px;
        color: rgb(150, 150, 150);
    }
    &__label {
        flex-grow: 1;
        text-align: center;
    }
    &__grid {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-auto-rows: 48px;
        padding: 12px 8px 20px 8px;
    }
    &__cell {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__cell-value {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        cursor: pointer;
    }
    &__cell-value:hover {
        background-color: rgb(235,235,235);
    }
    &__cell-value--current {
        border: 1px solid $primary-500-color;
    }
    &__cell-value--selected {
        background-color: $primary-500-color !important;
        color: $primary-500-text !important;
    }
    &__cell-digit {
        position: relative;
        top: -1px;
    }
}