@import '../../core/theme';
@import '../../core/zindex';
@keyframes ui-error-in {
    0% {
        opacity: 0;
        transform: translateY(-8px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.ui-input {
    position: relative;
    width: 100%;
    height: 68px;
}

.ui-input {
    &__wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        align-items: center;
        background-color: rgb(235, 235, 235);
        height: 48px;
        border-radius: 4px 4px 0 0;
    }
    &__placeholder {
        pointer-events: none;
        position: absolute;
        top: 16px;
        left: 0;
        font-size: 14px;
        color: rgba(0, 0, 0, .42);
        transition: color .3s, top .3s, font-size .3s;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        padding: 0 8px 0 12px;
        width: 100%;
        height: 16px;
        display: flex;
        align-items: center;
        z-index: 2;
    }
    &__units {
        padding: 14px 8px 0 0;
        color: rgba(0, 0, 0, .42);
    }
    &__bar {
        position: absolute;
        bottom: 0;
        height: 1px;
        width: 100%;
        background-color: rgba(0, 0, 0, .42);
        transition: background-color .2s;
    }
    &__error {
        position: absolute;
        top: 100%;
        left: 0;
        color: $error-500-color;
        font-size: 10px;
        display: flex;
        align-items: center;
        animation-fill-mode: both;
        animation: ui-error-in .3s;
        padding: 3px 0 5px 12px;
        height: 20px;
        display: block;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 100%;
        overflow: hidden;
    }
}

.ui-input {
    .ui-circular-progress {
        margin-left: 8px;
    }
    input {
        position: relative;
        color: $black;
        width: 100%;
        height: 34px;
        display: flex;
        align-items: center;
        padding: 14px 8px 0 12px;
        background-color: transparent;
        z-index: 1;
        height: 48px;
        font-size: 14px;
    }
}

.ui-input--margin {
    margin-bottom: 20px;
}

.ui-input--has-value:not(.ui-input--no-float),
.ui-input--focus:not(.ui-input--no-float) {
    .ui-input__placeholder {
        font-size: 10px;
        top: 4px;
    }
}

.ui-input--focus {
    .ui-input__bar {
        background-color: $primary-500-color;
    }
    &:not(.ui-input--no-float) {
        .ui-input__placeholder {
            color: $primary-500-color;
        }
    }
}

.ui-input--touched.ui-input--invalid {
    .ui-input__placeholder {
        color: $error-500-color !important;
    }
    .ui-input__bar {
        background-color: $error-500-color;
    }
}

.ui-input--has-value.ui-input--no-float {
    .ui-input__placeholder {
        display: none;
    }
}

.ui-input--no-float {
    input {
        padding-top: 0;
    }
    .ui-input__units {
        padding-top: 0;
    }
}

.ui-input--no-bar {
    .ui-input__bar {
        display: none !important;
    }
}

.ui-input--no-error {
    height: 48px;
    .ui-input__error {
        display: none !important;
    }
}

.ui-input--no-fill {
    input {
        padding: 0;
    }
    .ui-input__placeholder {
        padding-left: 0;
    }
    .ui-input__wrapper {
        background-color: transparent;
    }
    .ui-input__units {
        padding-right: 0;
    }
}

.ui-input--disabled {
    input {
        color: rgba(0, 0, 0, .42) !important;
    }
    .ui-input__bar {
        background-color: transparent !important;
        background-image: linear-gradient(to right, transparent 0, transparent 50%, rgba(0, 0, 0, .42) 50%, rgba(0, 0, 0, .42) 100%) !important;
        background-size: 4px 1px !important;
        background-repeat: repeat-x !important;
    }
}