.ui-list-item {
    position: relative;
    display: block;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
}

.ui-list-item {
    &__content {
        position: relative;
        z-index: 2;
        pointer-events: none;
        padding: 12px 20px;
        min-height: 48px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .ui-ink {
        z-index: 1;
    }
    .ui-label {
        flex-grow: 1;
    }
    .ui-icon {
        opacity: .6;
    }
    .ui-icon:first-child,
    .ui-checkbox:first-child,
    .ui-avatar:first-child,
    .ui-circular-progress:first-child {
        margin-right: 20px;
    }
    .ui-checkbox:last-child,
    .ui-switch:last-child {
        margin-left: 20px;
    }
    .ui-circular-progress--tiny:first-child {
        margin-left: 3px;
        margin-right: 23px;
    }
    &:hover,
    &:active {
        background-color: rgba(0, 0, 0, .1);
    }
    &--disabled {
        pointer-events: none;
        color: rgba(0, 0, 0, .6);
        cursor: default;
        .ui-icon {
            opacity: .3;
        }
    }
}