.ui-contact-picker-dialog-list {
    &__search {
        position: absolute;
        top: 0;
        left: 0;
        height: 56px;
        width: 100%;
        background-color: transparent;
        padding-left: 64px;
        padding-right: 64px;
    }
    &__clear {
        position: absolute;
        right: 20px;
        top: 16px;
    }
    &__content {
        max-height: calc(100vh - 182px);
    }
    &__buttons {
        padding-top: 10px;
    }
}