.photo {
    position: relative;
    flex-shrink: 0;
    touch-action: none;
    transition: height .2s, width .2s, transform .2s;
}

.photo__ghost {
    position: absolute;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    transition: height .2s, width .2s, top .2s, left .2s, opacity .2s;
    opacity: 0;
}

.photo__paint-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.photo__paint {
    position: absolute;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 2;
    transition: height .2s, width .2s, top .2s, left .2s;
}

.photo__spinner {
    z-index: 3
}

.photo__drag-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 4;
}

.photo__handle {
    height: 36px;
    width: 36px;
    position: absolute;
    z-index: 4;
}

.photo__handle--n {
    top: -18px;
    left: calc(50% - 18px);
    cursor: n-resize;
}

.photo__handle--n:after {
    content: '';
    background-color: white;
    position: absolute;
    height: 4px;
    width: 18px;
    left: calc(50% - 9px);
    bottom: 50%;
}

.photo__handle--ne {
    top: -18px;
    right: -18px;
    cursor: ne-resize;
}

.photo__handle--ne:before {
    content: '';
    background-color: white;
    position: absolute;
    height: 18px;
    width: 4px;
    left: 50%;
    top: calc(50% - 4px);
}

.photo__handle--ne:after {
    content: '';
    background-color: white;
    position: absolute;
    height: 4px;
    width: 18px;
    right: calc(50% - 4px);
    bottom: 50%;
}

.photo__handle--e {
    top: calc(50% - 18px);
    right: -18px;
    cursor: e-resize;
}

.photo__handle--e:after {
    content: '';
    background-color: white;
    position: absolute;
    height: 18px;
    width: 4px;
    left: 50%;
    top: calc(50% - 9px);
}

.photo__handle--se {
    bottom: -18px;
    right: -18px;
    cursor: se-resize;
}

.photo__handle--se:before {
    content: '';
    background-color: white;
    position: absolute;
    height: 18px;
    width: 4px;
    left: 50%;
    bottom: calc(50% - 4px);
}

.photo__handle--se:after {
    content: '';
    background-color: white;
    position: absolute;
    height: 4px;
    width: 18px;
    right: calc(50% - 4px);
    top: 50%;
}

.photo__handle--s {
    bottom: -18px;
    left: calc(50% - 18px);
    cursor: s-resize;
}

.photo__handle--s:after {
    content: '';
    background-color: white;
    position: absolute;
    height: 4px;
    width: 18px;
    left: calc(50% - 9px);
    top: 50%;
}

.photo__handle--sw {
    bottom: -18px;
    left: -18px;
    cursor: sw-resize;
}

.photo__handle--sw:before {
    content: '';
    background-color: white;
    position: absolute;
    height: 18px;
    width: 4px;
    right: 50%;
    bottom: calc(50% - 4px);
}

.photo__handle--sw:after {
    content: '';
    background-color: white;
    position: absolute;
    height: 4px;
    width: 18px;
    left: calc(50% - 4px);
    top: 50%;
}

.photo__handle--w {
    top: calc(50% - 18px);
    left: -18px;
    cursor: w-resize;
}

.photo__handle--w:after {
    content: '';
    background-color: white;
    position: absolute;
    height: 18px;
    width: 4px;
    right: 50%;
    top: calc(50% - 9px);
}

.photo__handle--nw {
    top: -18px;
    left: -18px;
    cursor: nw-resize;
}

.photo__handle--nw:before {
    content: '';
    background-color: white;
    position: absolute;
    height: 18px;
    width: 4px;
    right: 50%;
    top: calc(50% - 4px);
}

.photo__handle--nw:after {
    content: '';
    background-color: white;
    position: absolute;
    height: 4px;
    width: 18px;
    left: calc(50% - 4px);
    bottom: 50%;
}

.photo--croppable .photo__ghost {
    opacity: .4;
}

.photo--draggable .photo__drag-box {
    cursor: move;
}

.photo--no-transition,
.photo--no-transition .photo__paint,
.photo--no-transition .photo__ghost {
    transition: none;
}

.photo--saving {
    pointer-events: none;
}