@import '../../core/zindex';
@keyframes ui-blob-in {
    0% {
        transform: scale(0) translate3d(-50%, -50%, 0);
    }
    100% {
        transform: scale(2) translate3d(-50%, -50%, 0);
    }
}

.ui-ink {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.ui-ink {
    &__blob {
        position: absolute;
        background-color: rgba(0, 0, 0, .1);
        border-radius: 50%;
        animation-fill-mode: backwards;
        animation: ui-blob-in .6s;
        transform-origin: 0 0;
        transform: scale(2) translate(-50%, -50%);
        transition: opacity .6s;
        opacity: 1;
        pointer-events: none;
    }
    &__blob--fire {
        opacity: 0;
    }
}