@import '../../core/theme';
@import '../../core/zindex';
.ui-button {
    position: relative;
    display: inline-block;
    height: 36px;
    border-radius: 2px;
    background-color: transparent;
    transition: background-color .2s;
    overflow: hidden;
    font-size: 14px;
    text-transform: uppercase;
    color: inherit;
    cursor: pointer;
}

.ui-button {
    &__content {
        position: relative;
        padding: 0 8px;
        min-width: 88px;
        font-size: inherit;
        z-index: 1;
        pointer-events: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &:active,
    &:hover,
    &:focus {
        background-color: rgba(0, 0, 0, .1);
    }
}

.ui-button {
    .ui-icon:first-child {
        margin-right: 8px;
    }
    .ui-icon:last-child {
        margin-left: 8px;
    }
    .ui-ink__blob {
        background-color: rgba(0, 0, 0, .1);
    }
    .ui-circular-progress {
        margin-left: 8px;
    }
}

.ui-button {
    &--compact {
        .ui-button__content {
            min-width: 0;
        }
    }
    &--primary {
        color: $primary-500-color;
        .ui-ink__blob {
            background-color: $primary-100-color;
        }
        &:active,
        &:hover,
        &:focus {
            background-color: $primary-50-color;
        }
        .ui-circular-progress__path {
            stroke: $primary-500-color;
        }
    }
    &--accent {
        color: $accent-500-color;
        .ui-ink__blob {
            background-color: $accent-100-color;
        }
        &:active,
        &:hover,
        &:focus {
            background-color: $accent-50-color;
        }
        .ui-circular-progress__path {
            stroke: $primary-500-color;
        }
    }
    &--raised {
        background-color: white;
        color: $black;
        transition: box-shadow .2s, background-color .2s;
        @include z1;
        .ui-ink__blob {
            background-color: rgba(0, 0, 0, .2);
        }
        &:active {
            @include z2;
        }
        &.ui-button--primary {
            background-color: $primary-500-color;
            color: $primary-500-text;
            .ui-ink__blob {
                background-color: $primary-400-color;
            }
            .ui-circular-progress__path {
                stroke: $primary-500-text;
            }
        }
        &.ui-button--accent {
            background-color: $accent-500-color;
            color: $accent-500-text;
            .ui-ink__blob {
                background-color: $accent-400-color;
            }
            .ui-circular-progress__path {
                stroke: $accent-500-text;
            }
        }
    }
    &--disabled {
        box-shadow: none !important;
        opacity: .4;
        background-color: transparent !important;
        pointer-events: none;
    }
}