@keyframes menu-in {
    0% {
        opacity: 0;
        transform: translateY(-8px);
        max-height: 0;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.ui-menu {
    position: relative;
    &__target {
        z-index: 100000;
        cursor: pointer;
    }
    &__card {
        display: none;
        position: absolute;
        top: -8px;
        left: -8px;
        overflow: hidden;
        color: black;
        z-index: 100001;
        animation: menu-in .2s;
    }
}

.ui-menu--right .ui-menu__card {
    left: initial !important;
    right: -8px;
}

.ui-menu--show .ui-menu__card {
    display: block;
}