@import '../../core/theme';
@import '../../core/zindex';
.ui-fab {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    width: 56px;
    color: $accent-500-text;
    background-color: $accent-500-color;
    border-radius: 50%;
    @include z2;
    transition: box-shadow .2s, background-color .2s, transform .2s;
    overflow: hidden;
    cursor: pointer;
}

.ui-fab {
    &:active {
        @include z3;
    }
    .ui-ink {
        z-index: 1;
        .ui-blob {
            background-color: $accent-400-color;
        }
    }
    .ui-icon {
        z-index: 2;
        pointer-events: none;
    }
}

.ui-fab {
    &--disabled {
        opacity: .4;
        pointer-events: none;
    }
    &--hidden {
        transform: scale(0);
        pointer-events: none;
    }
}