@import '../../core/zindex';
.ui-image-picker-dialog {
    &__card {
        position: relative;
        width: 100%;
        max-width: 800px;
    }
    &__content {
        max-height: calc(100vh - 56px - 40px);
        width: 100%;
        padding: 20px;
        overflow: auto;
        transition: max-height .2s;
    }
    &__content--working {
        max-height: calc(100vh - 56px - 40px - 66px);
    }
    &__content--empty {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 300px;
    }
    &__content--empty .ui-icon {
        margin-bottom: 4px;
    }
    &__content--empty p {
        color: rgba(0, 0, 0, 0.4);
    }
    &__uploads {
        width: 100%;
        padding-top: 0;
        background-color: rgba(255, 255, 255, .9);
        border-radius: 2px 2px 0 0;
        overflow: hidden;
        z-index: 2;
        border-bottom: 1px solid rgb(200, 200, 200);
    }
    &__upload {
        display: flex;
        align-items: center;
    }
    &__upload-image {
        height: 24px;
        width: 24px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 20px;
    }
    &__upload-label {
        flex-grow: 1;
    }
    &__upload-progress {
        margin-top: 4px;
        margin-bottom: 5px;
    }
    &__images {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 20px 20px;
        align-items: start;
        align-content: start;
    }
    &__image {
        position: relative;
        width: 100%;
        height: 100px;
    }
    &__canvas {
        height: 100%;
        width: 100%;
        background-color: rgb(235, 235, 235);
        cursor: pointer;
        background-image: linear-gradient(45deg, #c8c8c8 25%, transparent 0), linear-gradient(-45deg, #c8c8c8 25%, transparent 0), linear-gradient(45deg, transparent 75%, #c8c8c8 0), linear-gradient(-45deg, transparent 75%, #c8c8c8 0);
        background-size: 20px 20px;
        background-position: 0 0, 0 10px, 10px -10px, -10px 0;
    }
    &__image-expand {
        position: absolute;
        bottom: 0;
        right: 0;
        color: white;
        font-size: 20px;
        z-index: 3;
    }
    &__image-scrim {
        position: absolute;
        bottom: 0;
        height: 48px;
        width: 100%;
        background-image: linear-gradient(transparent, rgba(0, 0, 0, .6));
        z-index: 2;
        pointer-events: none;
    }
    &__label {
        max-width: calc(100% - 44px);
    }
}