.ui-contact-picker-dialog {
    &__card {
        width: 100%;
        max-width: 350px;
    }
    &__search {
        position: absolute;
        top: 0;
        left: 0;
        height: 56px;
        width: 100%;
        background-color: transparent;
        padding-left: 64px;
        padding-right: 64px;
    }
    &__clear {
        position: absolute;
        right: 20px;
        top: 16px;
    }
    &__list {
        max-height: calc(100vh - 112px - 80px);
    }
    &__buttons {
        padding-top: 10px;
    }
}