@import '../../core/theme';
@import '../../core/zindex';
@keyframes select-in {
    0% {
        opacity: 0;
        transform: translateY(-8px);
        max-height: 0;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
        max-height: 176px;
    }
}

.ui-color-picker {
    position: relative;
    width: 100%;
    height: 48px;
    z-index: 8;
    background-color: rgb(235, 235, 235);
    border-radius: 4px 4px 0 0;
    cursor: pointer;
}

.ui-color-picker {
    &__value {
        white-space: nowrap;
        overflow: hidden;
        width: calc(100% - 44px);
        position: absolute;
        bottom: 0;
        left: 0;
        color: $black;
        height: 100%;
        padding: 16px 0 0 48px;
        display: block;
        text-overflow: ellipsis;
        font-size: 14px;
    }
    &__clear-icon,
    &__down-icon {
        position: absolute !important;
        top: 12px;
        right: 8px;
        color: rgba(0, 0, 0, .42);
    }
    &__bar {
        position: absolute;
        bottom: 0;
        height: 1px;
        width: 100%;
        background-color: rgba(0, 0, 0, .42);
        transition: background-color .2s;
    }
    &__preview-swatch {
        position: absolute;
        height: 24px;
        width: 24px;
        left: 12px;
        top: 12px;
        border-radius: 50%;
        overflow: hidden;
        pointer-events: none;
        @include z1;
        background-color: white;
    }
    &__preview-swatch:after {
        content: "";
        left: 10px;
        top: 0;
        width: 4px;
        -webkit-transform-origin: 50%;
        transform-origin: 50%;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        background-color: #f44336;
        height: 24px;
        position: absolute;
        z-index: 2;
    }
    &__hatching {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: inline-flex;
        align-items: center;
        height: 100%;
        background-image: linear-gradient(45deg, #c8c8c8 25%, transparent 0), linear-gradient(-45deg, #c8c8c8 25%, transparent 0), linear-gradient(45deg, transparent 75%, #c8c8c8 0), linear-gradient(-45deg, transparent 75%, #c8c8c8 0);
        background-size: 20px 20px;
        background-position: 0 0, 0 10px, 10px -10px, -10px 0;
    }
    &__fill {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
    &__recents {
        padding-top: 0;
    }
    &--margin {
        margin-bottom: 20px;
    }
}

.ui-color-picker--has-value {
    .ui-color-picker__preview-swatch:after {
        display: none;
    }
}

.ui-color-picker--has-value:not(.ui-color-picker--no-float),
.ui-color-picker--focus:not(.ui-color-picker--no-float) {
    .ui-color-picker__placeholder {
        font-size: 10px;
        top: 4px;
    }
}

.ui-color-picker--focus {
    .ui-color-picker__bar {
        background-color: $primary-500-color;
    }
}

.ui-color-picker--no-bar {
    .ui-color-picker__bar {
        display: none !important;
    }
}

.ui-color-picker--no-fill {
    background-color: transparent;
}

.ui-color-picker--disabled {
    pointer-events: none;
    .ui-color-picker__value {
        color: rgba(0, 0, 0, .42);
    }
    .ui-color-picker__bar {
        background-color: transparent;
        background-image: linear-gradient(to right, transparent 0, transparent 50%, rgba(0, 0, 0, .42) 50%, rgba(0, 0, 0, .42) 100%);
        background-size: 4px 1px;
        background-repeat: repeat-x;
    }
}