@import '../../core/theme';
.ui-tabs-item {
    display: block;
    position: relative;
    padding: 0 20px 3px 20px;
    height: 48px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 1;
    color: $black;
    cursor: pointer;
    .ui-ink {
        z-index: 1;
    }
}

.ui-tabs-item {
    &__content {
        z-index: 2;
        position: relative;
        pointer-events: none;
        transition: opacity .2s;
        color: inherit;
        opacity: .4;
    }
    &--selected {
        .ui-tabs-item__content {
            opacity: 1;
        }
    }
}

.ui-tabs--primary {
    .ui-ink__blob {
        background-color: $primary-400-color;
    }
    .ui-tabs-item__content {
        color: $primary-500-text;
    }
    .ui-tabs-item--selected:after {
        background-color: $primary-500-text;
    }
}

.ui-tabs--fill {
    .ui-tabs-item {
        flex-grow: 1; // flex-basis: 0;
    }
}