@import '../../core/theme';
.ui-tabs {
    display: block;
    position: relative;
    padding: 0;
    height: 48px;
    display: flex;
    align-items: center;
}

.ui-tabs {
    &--toolbar {
        margin: 0 20px 0 44px;
    }
    &__bar {
        content: '';
        position: absolute;
        bottom: 0;
        height: 4px;
        z-index: 3;
        border-radius: 4px 4px 0 0;
        background-color: $black;
        transition: left .2s, width .2s;
    }
}

.ui-tabs--primary .ui-tabs__bar {
    background-color: white;
}