@keyframes ui-toast-in {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.ui-toast {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: rgb(50, 50, 50);
    color: white;
    animation: ui-toast-in .3s;
    animation-fill-mode: backwards;
    padding: 0 24px;
    display: flex;
    align-items: center;
    min-width: 288px;
    min-height: 48px;
    z-index: 1000000;
    border-radius: 2px;
    &__text {
        flex-grow: 1;
    }
    .ui-button {
        color: white;
        margin-left: 48px;
        margin-right: -8px;
        .ui-ink__blob {
            background-color: rgba(0, 0, 0, .1);
        }
        &:active,
        &:hover,
        &:focus {
            background-color: rgba(0, 0, 0, .1);
        }
    }
}

.ui-toast {
    &--hide {
        opacity: 0;
        transform: translateY(100%);
        transition: transform .3s, opacity .3s;
    }
}

@media (max-width: 500px) {
    .ui-toast {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        border-radius: 0;
    }
}