@import '../../core/theme';
@import '../../core/zindex';
.ui-switch {
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    height: 14px;
}

.ui-switch {
    &__track {
        position: relative;
        display: block;
        height: 14px;
        width: 36px;
        min-width: 36px;
        border-radius: 7px;
        background-color: rgba(0, 0, 0, .26);
        transition: background-color .2s;
    }
    &__button {
        position: absolute;
        top: -3px;
        left: -3px;
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #FAFAFA;
        transition: background-color .2s, left .2s;
        @include z1;
    }
    &--active {
        .ui-switch__track {
            background-color: $primary-100-color;
        }
        .ui-switch__button {
            left: 19px;
            background-color: $primary-500-color;
        }
    }
    &--disabled {
        pointer-events: none;
        .ui-switch__track {
            background-color: rgba(0, 0, 0, .12) !important;
        }
        .ui-switch__button {
            background-color: #BDBDBD !important;
        }
    }
}