.ui-contact-picker-dialog-create {
    &__content {
        max-height: calc(100vh - 182px);
    }
    &__avatar-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 20px 0;
    }
    &__avatar {
        cursor: pointer;
    }
    &__label {
        font-size: 18px;
        text-align: center;
        margin-top: 8px;
    }
}