@import '../../core/theme';
@import '../../core/zindex';
@keyframes select-in {
    0% {
        opacity: 0;
        transform: translateY(-8px);
        max-height: 0;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
        max-height: 176px;
    }
}

.ui-contact-picker {
    position: relative;
    width: 100%;
    height: 48px;
    z-index: 8;
    background-color: rgb(235, 235, 235);
    border-radius: 4px 4px 0 0;
    cursor: pointer;
}

.ui-contact-picker {
    &__value {
        width: calc(100% - 44px);
        position: absolute;
        bottom: 0;
        left: 0;
        color: $black;
        height: 100%;
        padding: 0 0 0 48px;
        display: block;
        display: flex;
        align-items: center;
    }
    &__placeholder {
        white-space: nowrap;
        overflow: hidden;
        width: calc(100% - 44px);
        position: absolute;
        bottom: 0;
        left: 0;
        color: rgba(0, 0, 0, .42);
        height: 100%;
        padding: 16px 0 0 48px;
        display: block;
        text-overflow: ellipsis;
        font-size: 14px;
    }
    &__clear-icon,
    &__down-icon {
        position: absolute !important;
        top: 12px;
        right: 8px;
        color: rgba(0, 0, 0, .42);
    }
    &__bar {
        position: absolute;
        bottom: 0;
        height: 1px;
        width: 100%;
        background-color: rgba(0, 0, 0, .42);
        transition: background-color .2s;
    }
    &__preview {
        position: absolute;
        left: 12px;
        top: 12px;
        pointer-events: none;
    }
    &__fill {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
    &--margin {
        margin-bottom: 20px;
    }
}

.ui-contact-picker--has-value {
    .ui-contact-picker__preview:after {
        display: none;
    }
}

.ui-contact-picker--focus {
    .ui-contact-picker__bar {
        background-color: $primary-500-color;
    }
}

.ui-contact-picker--no-float {
    .ui-contact-picker__value {
        top: 7px;
    }
}

.ui-contact-picker--no-bar {
    .ui-contact-picker__bar {
        display: none !important;
    }
}

.ui-contact-picker--no-fill {
    background-color: transparent;
}

.ui-contact-picker--disabled {
    pointer-events: none;
    .ui-contact-picker__value {
        color: rgba(0, 0, 0, .42);
    }
    .ui-contact-picker__bar {
        background-color: transparent;
        background-image: linear-gradient(to right, transparent 0, transparent 50%, rgba(0, 0, 0, .42) 50%, rgba(0, 0, 0, .42) 100%);
        background-size: 4px 1px;
        background-repeat: repeat-x;
    }
}