@import '../../core/zindex';
.ui-color-picker-dialog {
    &__card {
        width: 100%;
        max-width: 400px;
    }
    &__preview {
        position: relative;
        display: block;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 auto;
        border: 4px solid rgb(235,235,235);
    }
    &__recents-grid {
        display: grid;
        justify-content: space-between;
        grid-template-columns: 48px 48px 48px 48px 48px 48px;
    }
    &__swatch {
        position: relative;
        height: 48px;
        width: 48px;
        border-radius: 50%;
        z-index: 1;
        overflow: hidden;
        @include z1;
        cursor: pointer;
    }
    &__swatch:hover {
        @include z2;
    }
    &__hatching {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: inline-flex;
        align-items: center;
        height: 100%;
        background-image: linear-gradient(45deg, #c8c8c8 25%, transparent 0), linear-gradient(-45deg, #c8c8c8 25%, transparent 0), linear-gradient(45deg, transparent 75%, #c8c8c8 0), linear-gradient(-45deg, transparent 75%, #c8c8c8 0);
        background-size: 20px 20px;
        background-position: 0 0, 0 10px, 10px -10px, -10px 0;
    }
    &__fill {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
    &__values {
        padding-top: 0;
        padding-bottom: 0;
    }
    &__value-container {
        display: flex;
        align-items: center;
    }
    &__value-label {
        margin-right: 20px;
    }
    &__value {
        margin-left: 20px;
        width: 30px;
        flex-shrink: 0;
        text-align: right;
    }
    &--margin {
        margin-bottom: 20px;
    }
}