@import '../../core/theme';
@import '../../core/zindex';
.ui-toolbar {
    position: relative;
    width: 100%;
    z-index: 99999;
}

.ui-toolbar {
    &--shadow {
        @include z1;
    }
    &--primary {
        background-color: $primary-500-color;
        color: $primary-500-text;
    }
}

.ui-toolbar {
    .ui-title {
        flex-grow: 1;
    }
}

.ui-toolbar--primary {
    .ui-ink__blob {
        background-color: $primary-400-color;
    }
}