.ui-title {
    display: block;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
}

.ui-title {
    &--margin {
        margin-bottom: 20px;
    }
}