.ui-content {
    display: block;
    padding: 20px;
}

.ui-content {
    &--buttons {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-top: 0;
    }
    &--compact {
        padding: 0 12px 10px 12px;
    }
}