@import '../../core/theme';
.ui-label {
    display: block;
}

.ui-label {
    p {
        margin: 0;
        color: inherit;
    }
    p {
        font-size: 0.85em;
        opacity: .6;
        margin-bottom: 2px;
    }
    p:first-of-type {
        opacity: 1;
        font-size: 1em;
    }
    p:last-of-type {
        margin-bottom: 0;
    }
    p.ui-label--clipped {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}