@import '../../core/zindex';
@keyframes ui-card-in {
    0% {
        opacity: 0;
        transform: translateY(16px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.ui-card {
    @include z1;
    display: block;
    border-radius: 2px;
    background: white;
}

.ui-card {
    &--margin {
        margin-bottom: 20px;
    }
    &--animate {
        animation-fill-mode: both;
        animation: ui-card-in .4s;
    }
}