.ui-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    background-color: rgba(35, 30, 45, 0);
    transition: background-color .4s;
}

.ui-backdrop {
    &--visible {
        pointer-events: all;
        background-color: rgba(35, 30, 45, .6);
    }
    &--transparent {
        background-color: rgba(35, 30, 45, 0);
    }
    &--disabled {
        pointer-events: none;
    }
}