.ui-drawer {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 320px;
    z-index: 1000001;
    background-color: white;
    overflow-y: auto;
    overflow-x: hidden;
    transform: translate3d(-320px, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

.ui-drawer {
    &--transition {
        transition: transform .3s, box-shadow .3s;
    }
    &--open {
        transform: translate3d(0, 0, 0);
        box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.3), 0 0 7px 0 rgba(0, 0, 0, 0.19); // based on z3 translated right
    }
    &__backdrop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        pointer-events: none;
        background-color: rgba(35, 30, 45, .6);
        z-index: 100000;
        &--transition {
            transition: opacity .4s;
        }
        &--visible {
            pointer-events: all;
            opacity: 1 !important;
        }
    }
}