@import '../../core/theme';
.ui-icon-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    height: 24px;
    width: 24px;
    color: inherit;
    cursor: pointer;
    .ui-ink {
        height: 48px;
        width: 48px;
        margin: -12px 0 0 -12px;
        z-index: 1;
    }
    .ui-icon {
        z-index: 2;
        pointer-events: none;
        font-size: inherit
    }
}

.ui-icon-button--toggle {
    opacity: .4;
}

.ui-icon-button--toggle-on {
    opacity: 1;
}

.ui-icon-button--margin {
    margin-right: 20px;
}

.ui-icon-button--disabled {
    opacity: .1;
    pointer-events: none;
}