@import '../../core/theme';
.ui-checkbox {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 18px;
    width: 18px;
    border-radius: 2px;
    border: 2px solid rgba(0, 0, 0, .54);
    background-color: transparent;
    transition: background-color .2s, border .2s;
    cursor: pointer;
}

.ui-checkbox {
    &__icon {
        font-size: 16px !important;
        margin: 0 !important;
        opacity: 1 !important;
        transform: scale(0);
        transition: transform .2s .1s;
    }
    &--margin {
        margin-right: 20px;
    }
    &--active {
        border: 2px solid $primary-500-color;
        background-color: $primary-500-color;
        .ui-checkbox__icon {
            transform: scale(1);
        }
    }
    &--disabled {
        pointer-events: none;
    }
}