@import '../../core/zindex';
@keyframes dialog-in {
    0% {
        opacity: 0;
        transform: scale(.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.ui-dialog {
    position: relative;
    z-index: 100000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.ui-dialog .ui-card {
    @include z4;
    pointer-events: all;
    z-index: 2;
}

.ui-dialog .ui-card--animate {
    animation: dialog-in .4s;
    animation-fill-mode: backwards;
}

.ui-dialog .ui-backdrop {
    z-index: 1;
}