$black: rgba(0,0,0,.87);
$white: white;

// BLUE
$primary-50-color: #E8EAF6;
$primary-100-color: #C5CAE9;
$primary-300-color: #7986CB;
$primary-400-color: #5C6BC0;
$primary-500-color: #3F51B5;
$primary-700-color: #303F9F;
$primary-900-color: #1A237E;

$primary-50-text: $black;
$primary-100-text: $black;
$primary-300-text: $white;
$primary-400-text: $white;
$primary-500-text: $white;
$primary-700-text: $white;
$primary-900-text: $white;

// PINK
$accent-50-color: #FCE4EC;
$accent-100-color: #F8BBD0;
$accent-300-color: #F06292;
$accent-400-color: #EC407A;
$accent-500-color: #E91E63;
$accent-700-color: #C2185B;
$accent-900-color: #880E4F;

$accent-50-text: $black;
$accent-100-text: $black;
$accent-300-text: $black;
$accent-400-text: $white;
$accent-500-text: $white;
$accent-700-text: $white;
$accent-900-text: $white;

// ERROR
$error-50-color: #FFEBEE;
$error-100-color: #FFCDD2;
$error-300-color: #E57373;
$error-400-color: #EF5350;
$error-500-color: #F44336;
$error-700-color: #D32F2F;
$error-900-color: #B71C1C;

$error-50-text: $black;
$error-100-text: $black;
$error-300-text: $black;
$error-400-text: $white;
$error-500-text: $white;
$error-700-text: $white;
$error-900-text: $white;