@import '../../core/theme';
@import '../../core/zindex';
@keyframes select-in {
    0% {
        opacity: 0;
        transform: translateY(-8px);
        max-height: 0;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
        max-height: 176px;
    }
}

.ui-date-picker {
    position: relative;
    width: 100%;
    height: 48px;
    z-index: 8;
    background-color: rgb(235, 235, 235);
    border-radius: 4px 4px 0 0;
    cursor: pointer;
}

.ui-date-picker {
    &__placeholder {
        pointer-events: none;
        position: absolute;
        top: 16px;
        left: 0;
        font-size: 14px;
        color: rgba(0, 0, 0, .42);
        transition: color .3s, top .3s, font-size .3s;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        padding: 0 8px 0 12px;
        width: calc(100% - 32px);
        height: 16px;
        display: flex;
        align-items: center;
    }
    &__value {
        position: absolute;
        bottom: 0;
        left: 0;
        color: $black;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 14px 8px 0 12px;
    }
    &__clear-icon,
    &__open-icon {
        position: absolute !important;
        top: 12px;
        right: 8px;
        color: rgba(0, 0, 0, .42);
    }
    &__bar {
        position: absolute;
        bottom: 0;
        height: 1px;
        width: 100%;
        background-color: rgba(0, 0, 0, .42);
        transition: background-color .2s;
    }
    &__card {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        font-size: 14px;
        animation: select-in .2s;
        animation-fill-mode: both;
        max-height: 176px;
        color: rgba(0, 0, 0, .87);
        overflow: auto;
        border-radius: 0 0 3px 3px;
        @include z2;
    }
    &--margin {
        margin-bottom: 20px;
    }
}

.ui-date-picker--has-value:not(.ui-date-picker--no-float),
.ui-date-picker--focus:not(.ui-date-picker--no-float) {
    .ui-date-picker__placeholder {
        font-size: 10px;
        top: 4px;
    }
}

.ui-date-picker--focus {
    z-index: 10;
    .ui-date-picker__bar {
        background-color: $primary-500-color;
    }
    .ui-date-picker__placeholder {
        color: $primary-500-color;
    }
}

.ui-date-picker--has-value.ui-date-picker--no-float {
    .ui-date-picker__placeholder {
        display: none;
    }
}

.ui-date-picker--no-float {
    .ui-date-picker__value {
        padding-top: 0;
    }
}

.ui-date-picker--no-bar {
    .ui-date-picker__bar {
        display: none !important;
    }
}

.ui-date-picker--no-fill {
    background-color: transparent;
}

.ui-date-picker--disabled {
    .ui-date-picker__value {
        color: rgba(0, 0, 0, .42);
    }
    .ui-date-picker__bar {
        background-color: transparent;
        background-image: linear-gradient(to right, transparent 0, transparent 50%, rgba(0, 0, 0, .42) 50%, rgba(0, 0, 0, .42) 100%);
        background-size: 4px 1px;
        background-repeat: repeat-x;
    }
}