@import '../../core/theme';
.ui-avatar {
    display: block;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .2);
    background-size: cover;
    background-position: 50% 50%;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.ui-avatar {
    &__letter {
        font-size: inherit;
        color: inherit;
        font-weight: 300;
        text-transform: uppercase;
        position: relative;
        top: -1px;
    }
}