.ui-tooltip {
    position: relative;
}

.ui-tooltip__content {
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #616161e6;
    padding: 0 8px;
    font-size: 10px;
    color: white;
    border-radius: 4px;
    position: absolute;
    bottom: -36px;
    left: 50%;
    transform: translate(-50%, -8px) scale(.9);
    transition: opacity .2s, transform .2s;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
}

.ui-tooltip:hover .ui-tooltip__content {
    opacity: 1;
    transform: translate(-50%, 0px) scale(1);
    transition: opacity .2s .5s, transform .2s .5s;
}