.ui-image {
    display: block;
    position: relative;
}

.ui-image {
    &__paint {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-position: 50% 50%;
        background-size: cover;
        opacity: 1;
        transition: opacity .2s;
    }
    &__progress {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}