@import '../../core/theme';
.ui-slider {
    position: relative;
    height: 40px;
    flex-grow: 1;
    width: 100%;
    touch-action: none;
    cursor: pointer;
}

.ui-slider {
    &__track {
        position: absolute;
        top: calc(50% - 1px);
        left: 0;
        height: 2px;
        width: 100%;
        background-color: rgba(255, 255, 255, .6);
        transition: width .2s, left .2s;
    }
    &__value {
        position: absolute;
        top: calc(50% - 1px);
        left: 0;
        height: 2px;
        width: 100%;
        background-color: $primary-500-color;
        transition: width .2s;
    }
    &__button {
        position: absolute;
        top: 50%;
        height: 12px;
        width: 12px;
        border-radius: 50%;
        background-color: $primary-500-color;
        transform: translate(-50%, -50%);
        transition: height .2s, width .2s, background-color .2s, left .2s;
        &:active {
            height: 24px;
            width: 24px;
        }
        .ui-ink {
            height: 24px;
            width: 24px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    &--disabled {
        pointer-events: none;
        .ui-slider__track {
            background-color: rgba(255, 255, 255, .2);
        }
        .ui-slider__value {
            background-color: rgba(255, 255, 255, .2);
        }
        .ui-slider__button {
            height: 8px;
            width: 8px;
            background-color: rgba(255, 255, 255, .2);
            border: 2px solid transparent;
        }
    }
}

.ui-slider--active {
    .ui-slider__track {
        transition: none;
    }
    .ui-slider__value {
        transition: none;
    }
    .ui-slider__button {
        transition: height .2s, width .2s, background-color .2s;
    }
}

.ui-slider--dark {
    .ui-slider__track {
        background-color: rgba(0, 0, 0, .2);
    }
}

.ui-slider--dark.ui-slider--disabled {
    .ui-slide__track {
        background-color: rgba(0, 0, 0, .2);
    }
    .ui-slider__value {
        background-color: rgba(0, 0, 0, .2);
    }
    .ui-slider__button {
        background-color: rgba(0, 0, 0, .2);
    }
}