.photo-viewer {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 0, 0);
    z-index: 100001;
}

.photo-viewer__toolbar {
    color: white;
    transition: width .3s;
    background-image: linear-gradient(rgba(0, 0, 0, .6), transparent)
}

.photo-viewer__spacer {
    flex-grow: 1;
}

.photo-viewer .ui-ink__blob {
    background-color: rgba(255, 255, 255, .2);
}

.photo-viewer__tool {
    margin-right: 20px;
}

.photo-viewer__icon {
    height: 24px;
    width: 24px;
    position: relative;
}

.photo-viewer__menu-trap {
    position: relative;
}

.photo-viewer__content {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 96px 40px 40px 40px;
    transition: width .3s;
}

.photo-viewer__content--info,
.photo-viewer__toolbar--info {
    width: calc(100vw - 350px);
}

.photo-viewer__container {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.photo-viewer__info {
    position: fixed;
    top: 0;
    left: 100vw;
    height: 100vh;
    width: 350px;
    background-color: white;
    z-index: 100001;
    transition: transform .3s;
    transform: translateX(0px);
}

.photo-viewer__info--show {
    transform: translateX(-100%);
}